<div class="card mt-3">
  <div class="card-content">
    <div class="row row-group m-0">
      {% for card in cards %}
      <div class="col-12 col-lg-6 col-xl-3 border-light">
        <div class="card-body">
          <h5 class="text-white mb-0">
            {{ card.quantity }}<span class="float-right">
              <img src="{{ card.icon.url }}" alt="Wrong place" width="20">
            </span>
          </h5>
          <div class="progress my-3" style="height: 3px">
            <div class="progress-bar" style="width: 55%"></div>
          </div>
          <p class="mb-0 text-white small-font">
            {{ card.text }}<span class="float-right"
              >{{ card.percent }}<i class="zmdi zmdi-long-arrow-up"></i
            ></span>
          </p>
        </div>
      </div>
      {% endfor %}
      </div>
    </div>
  </div>