<div class="row">
  <div class="col-12 col-lg-12">
    <div class="card">
      <div class="card-header">
        Recent Order Tables
        <div class="card-action">
          <div class="dropdown">
            <a
              href="javascript:void();"
              class="dropdown-toggle dropdown-toggle-nocaret"
              data-toggle="dropdown"
            >
              <i class="icon-options"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="javascript:void();">Action</a>
              <a class="dropdown-item" href="javascript:void();"
                >Another action</a
              >
              <a class="dropdown-item" href="javascript:void();"
                >Something else here</a
              >
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="javascript:void();"
                >Separated link</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table align-items-center table-flush table-borderless">
          <thead>
            <tr>
              <th>Product</th>
              <th>Photo</th>
              <th>Product ID</th>
              <th>Amount</th>
              <th>Date</th>
              <th>Shipping</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Iphone 5</td>
              <td>
                <img
                  src="https://via.placeholder.com/110x110"
                  class="product-img"
                  alt="product img"
                />
              </td>
              <td>#9405822</td>
              <td>$ 1250.00</td>
              <td>03 Aug 2017</td>
              <td>
                <div class="progress shadow" style="height: 3px">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 90%"
                  ></div>
                </div>
              </td>
            </tr>

            <tr>
              <td>Earphone GL</td>
              <td>
                <img
                  src="https://via.placeholder.com/110x110"
                  class="product-img"
                  alt="product img"
                />
              </td>
              <td>#9405820</td>
              <td>$ 1500.00</td>
              <td>03 Aug 2017</td>
              <td>
                <div class="progress shadow" style="height: 3px">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 60%"
                  ></div>
                </div>
              </td>
            </tr>

            <tr>
              <td>HD Hand Camera</td>
              <td>
                <img
                  src="https://via.placeholder.com/110x110"
                  class="product-img"
                  alt="product img"
                />
              </td>
              <td>#9405830</td>
              <td>$ 1400.00</td>
              <td>03 Aug 2017</td>
              <td>
                <div class="progress shadow" style="height: 3px">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 70%"
                  ></div>
                </div>
              </td>
            </tr>

            <tr>
              <td>Clasic Shoes</td>
              <td>
                <img
                  src="https://via.placeholder.com/110x110"
                  class="product-img"
                  alt="product img"
                />
              </td>
              <td>#9405825</td>
              <td>$ 1200.00</td>
              <td>03 Aug 2017</td>
              <td>
                <div class="progress shadow" style="height: 3px">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 100%"
                  ></div>
                </div>
              </td>
            </tr>

            <tr>
              <td>Hand Watch</td>
              <td>
                <img
                  src="https://via.placeholder.com/110x110"
                  class="product-img"
                  alt="product img"
                />
              </td>
              <td>#9405840</td>
              <td>$ 1800.00</td>
              <td>03 Aug 2017</td>
              <td>
                <div class="progress shadow" style="height: 3px">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 40%"
                  ></div>
                </div>
              </td>
            </tr>

            <tr>
              <td>Clasic Shoes</td>
              <td>
                <img
                  src="https://via.placeholder.com/110x110"
                  class="product-img"
                  alt="product img"
                />
              </td>
              <td>#9405825</td>
              <td>$ 1200.00</td>
              <td>03 Aug 2017</td>
              <td>
                <div class="progress shadow" style="height: 3px">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 100%"
                  ></div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!--End Row-->
